.sidebar {
  flex: 3;
  margin: 40px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebarTitle {
  margin: 40px 10px 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
  width: 240px;
}

.sidebarItem > p {
  padding: 20px 48px;
    font-family: "Varela Round", sans-serif;
    color: #444;
    line-height: 18px;
    font-size: 12px;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebarIcon {
  font-size: 20px;
  cursor: pointer;
}
